
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1496067976169'); /* IE9*/
  src: url('iconfont.eot?t=1496067976169#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1496067976169') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1496067976169') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1496067976169#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-project:before { content: "\e645"; }

.icon-ruanjian:before { content: "\e6dc"; }

.icon-dashboard:before { content: "\e60d"; }

.icon-jiangbei:before { content: "\e6ef"; }

.icon-guanjun:before { content: "\e620"; }

.icon-jijun:before { content: "\e621"; }

.icon-yajun:before { content: "\e623"; }

