<ion-header>
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-text color="primary">Cancel</ion-text>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar>
                <img [src]="userInfo.photo">
            </ion-avatar>
            <h2>{{userInfo.display_name}}</h2>
            <p>{{userInfo.email}}</p>
        </ion-item>

        <ion-item>
            website
            <ion-note>
                {{userInfo.website}}
            </ion-note>
        </ion-item>
        <ion-item>
            timezone
            <ion-note>
                {{userInfo.timezone}}
            </ion-note>
        </ion-item>
        <ion-item>
            last_plugin_name
            <ion-note>
                {{userInfo.last_plugin_name}}
            </ion-note>
        </ion-item>
        <ion-item>
            last_project
            <ion-note>
                {{userInfo.last_project}}
            </ion-note>
        </ion-item>
    </ion-list>

</ion-content>
