/*
custom style
*/
#copy-right {
    font-size: 80%;
    color: gray;
    position: fixed;
    bottom: 4rem;
    width: 100%;
    text-align: center;
}

#copy-right a {
    color: inherit;
}

#login-btn {

}

.info {
    color: #8e9093
}

#left-menu-header {
    background-color: #3d5afe;
    color: white;
    height: 20%;
    padding: 1rem;
}

#user-photo {
    width: 20%;
    height: 20%;
}

.toolbar-background {
    background-color: #042733;
}

.toolbar-title {
    color: white
}

ion-icon[name='menu'] {
    color: white;
}

#leaderboards .icon-medals {
    width: 3.2rem;
    position: relative;
    float: right;
    top: -1.6rem;
}

#leaderdetail .icon-medals {
    width: 3.2rem;
}

#socialShare {
    color: white;
}